html {
  font-family: 'Slabo 13px', serif;
  font-size: 15px;
}

.heading {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}

.product-heading {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 22px;
}

.home-heading {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #99c2ff;
}

.away-heading {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff4d94;
}

.background {
  padding: 5px 15px;
  background-color: #ffd1b3;
  border: 0 none;
  margin-left: 0;
  margin-right: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.match-background {
  padding: 5px 15px;
  background-color: #adebad;
  border: 0 none;
  margin-left: 0;
  margin-right: 0;
}

.fancy-border {
  border: 8px solid #80c1ff;
  padding: 30px 30px 30px 30px;
  background-color: #cce6ff;
}

.match-centre {
  width: 800px;
  height: 100%;
  position: absolute;
  top:0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.upload-centre {
  width: 700px;
  height: 100%;
  position: absolute;
  top:170px;
  bottom: 0;
  left: 100px;
  right: 0;
  margin: auto;
}

.registration-centre {
  width: 800px;
  height: 100%;
  position: absolute;
  top: 220px;
  bottom: 0;
  left: 70px;
  right: 0;
  margin: auto;
}

.rules-centre {
  width: 350px;
  height: 100%;
  position: absolute;
  top:130px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.champion-centre {
  width: 400px;
  height: 100%;
  position: absolute;
  top:130px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.match-centre-wrapper {
  width: 30%;
  height: 100%;
  text-align: center;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
}

.match-top-wrapper {
  width: 30%;
  height: 100%;
  text-align: top;
  position: relative;
  margin: auto;
  vertical-align: top;
}

.go-button {
  font-family: 'Faster One', cursive;
  font-size: 30px;
  padding: 5px 20px;
  background-color: #adebad;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #1b6d1e;
  transition: 0.3s ease-in-out;
}

.go-button:hover {
  padding-left: 26px;
  padding-right: 10px;
  letter-spacing: 1px
}

input.play[type="submit"]:hover {
  color: #05ba0b;
}

.invisible {
  opacity: 0;
}

.away {
  transition: opacity 1s ease;
}

.winner-button {
  font-size: 25px;
  padding: 3px 15px;
  color: #0066ff;
  border: 7px solid #ffff00;
  cursor: pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.desc {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.champion-heading {
  text-align: center;
  text-transform: uppercase;
  background-color: #7bbef2;
  padding: 5px 0 5px 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.champion-label {
  position: absolute;
  width: 200px;
  top: 180px;
  left: 100px;
  text-align: center;
  font-size: 35px;
}

.cart-button {
  font-family: 'Slabo 13px', serif;
  font-size: 15px;
  width: 200px;
  padding: 5px 15px;
  background-color: rgba(153, 204, 255, 1);
  border: 2px solid #1e73c9;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position:absolute;
  top: 320px;
  right: 5px;
}

.compare-button {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  width: 160px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  background-color: #003cb3;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.grid {
  width: 1000px;
  height: 100%;
  position: absolute;
  top: 900px;
  bottom: 0;
  left: 70px;
  right: 0;
  margin: auto;
}

.grid-element {
  width: 170px;
  height: 300px;
  border: 1px solid #cccccc;
  float: left;
  margin: 10px 10px 10px 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
}

.serving-size {
  padding-top: 15px;
}

.attribute {
  padding-top: 6px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #00cc00;
}

a.winner-button:hover {
  background-color: #ffff00;
}

.versus {
  z-index: 10000;
  position: absolute;
  top: 250px;
  left: 350px;
}
