{% load tags %}
{% load staticfiles %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'game/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Faster+One|Slabo+13px" rel="stylesheet">
  <title>Match</title>
</head>

<style>
  .good {
    border-bottom: 3px solid green;
  }
  .bad {
    border-bottom: 3px solid red;
  }
</style>

<script>
  // Array stores which stats are better high
  var higherBetter = ['protein', 'vitA', 'vitC', 'calcium', 'iron', 'fiber'];

  // Highlight stats
  $(function() {
    {% for stat, num in home_dict.items %}
      var {{ stat }}_array = $('input[name={{ stat }}]');
      if (parseFloat({{ stat }}_array[0].value) > parseFloat({{ stat }}_array[1].value)) {
        var high = {{ stat }}_array[0].id;
        var low = {{ stat }}_array[1].id;
      }
      else {
        var high = {{ stat }}_array[1].id;
        var low = {{ stat }}_array[0].id;
      }
      if ($.inArray('{{ stat }}', higherBetter) > -1) {
        $('span#' + high + "-{{ stat }}").addClass('good');
        $('span#' + low + "-{{ stat }}").addClass('bad');
      }
      else {
        $('span#' + high + "-{{ stat }}").addClass('bad');
        $('span#' + low + "-{{ stat }}").addClass('good');
      }
    {% endfor %}
  });
</script>

<body class="match-centre">

  <h1 class="heading">
    <span class="match-background">Match #{{ current_match }}<span>
  </h1>

  <table width="100%">
    <tr>
      <td class="match-top-wrapper">
        <div class="home-heading">home</div>
        <div class="product-heading">{{ home.name|title }}</div>
      </td>
      <td class="match-top-wrapper">
        <div class="away-heading">away</div>
        <div class="product-heading">{{ away.name|title }}</div>
      </td>
    <tr>
      <td class="match-centre-wrapper">
        <div class="desc"><i>{{ home.description }}</i></div>
      </td>
      <td class="match-centre-wrapper">
        <div class="desc"><i>{{ away.description }}</i></div>
      </td>
    </tr>
    <tr>
      <td class="match-centre-wrapper">
        <img src="{{ home.photo_url }}" height="200px">
        <p>Serving Size: {% add_units home.serving_size "serving_size" %}</p>
        <p>Price per serving: {% add_units home.price_per_serving "price_per_serving" %}</p>
        <!-- Print filters -->
        {% for filter in filters %}
          <p>{{ filter|capfirst }}</p>
        {% endfor %}
        <!-- Print attributes -->
        {% for stat, value in home_dict.items %}
          <input id="home" name="{{ stat }}" value="{{ value }}" type="hidden">
          <p><span id="home-{{ stat }}">{{ stat|expand_vitamins|capfirst }}: {% add_units value stat %}</span></p>
        {% endfor %}
        <br>
        <!-- Winner button -->
        <a class="winner-button" href="{% url 'match' %}?current_match={{next_match}}&home={{home}}&away={{away}}&winner={{home}}{{stats_url_string}}{{filters_url_string}}">WINNER</a>
      </td>
      <td class="match-centre-wrapper">
        <img src="{{ away.photo_url }}" height="200px">
        <p>Serving Size: {% add_units away.serving_size "serving_size" %}</p>
        <p>Price per serving: {% add_units away.price_per_serving "price_per_serving" %}</p>
        <!-- Print filters -->
        {% for filter in filters %}
          <p>{{ filter|capfirst }}</p>
        {% endfor %}
        <!-- Print attributes -->
        {% for stat, value in away_dict.items %}
          <input id="away" name="{{ stat }}" value="{{ value }}" type="hidden">
          <p><span id="away-{{ stat }}">{{ stat|expand_vitamins|capfirst }}: {% add_units value stat %}</span></p>
        {% endfor %}
        <br>
        <!-- Winner button -->
        <a class="winner-button" href="{% url 'match' %}?current_match={{next_match}}&home={{home}}&away={{away}}&winner={{away}}{{stats_url_string}}{{filters_url_string}}">WINNER</a>
      </td>
    </tr>
  </table>
</body>
