{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'game/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet">
  <title>Team Registration</title>
</head>


  <h1 class="heading">
    <span class="background">Pick Your First Competitor</span>
  </h1>

<div class="registration-centre">
  <div class="bottom">
  {% for item in items %}
    <div class="col">
      <img src="{{ item.photo_url }}" height="100px">
      <p style="width: 80px;">
        <a href="{% url 'rules' %}?first={{item.name}}">
          {{ item.name|title }}
        </a>
      </p>
    </div>
  {% endfor %}
  </div>
</div>
