{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'game/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet">
  <title>Team Registration</title>
</head>


<img width="100%" src="{% static 'game/images/save_on_header.png' %}"></img>


<!-- <div class="registration-centre"> -->
  <div class="grid">
  {% for item in items %}
    <div class="grid-element">
      <img align="middle" src="{{ item.photo_url }}" height="110px">
      <p style="font-size: 18px;">{{ item.name|title }}</p>
      <p style="position: absolute; bottom: 80;">${{ item.price }}</p>
      <a style="position: absolute; bottom: 5;" href="">
        <img width="80px" src="{% static 'game/images/add_to_cart.png' %}"></img>
      </a>
      <a class="compare-button" style="position: absolute; bottom: 50;" href="{% url 'rules' %}?first={{item.name}}">Enter into tournament</a>
    </div>
  {% endfor %}
  </div>
<!-- </div> -->
