{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'game/css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet">
  <title>Team Registration</title>
</head>


  <h1 class="heading">
    <span class="background">Pick Your Starting Item</span>
  </h1>

<div class="registration-centre">
  <div style="text-align: center;">
    {% for item in items %}
      <a href="{% url 'rules' %}?first={{item.name}}">
        {{ item.name|title }}
      </a>
      <br>
    {% endfor %}
</div>
</div>
