{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Slabo+13px" rel="stylesheet">
    <title>Upload Items</title>
</head>
<body>

  <h1 class="heading">
    <span class="background">Upload Items</span>
  </h1>

  <style>
    ul {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
      list-style-position: inside;
    }
  </style>

  <div class="upload-centre">
    <p>
      <i>Upload a .csv file of comparable items with the following attributes:</i>
    </p>
    <ul>
      <li>name (string)</li>
      <li>description (string)</li>
      <li>photo_url (fqdn)</li>
      <li>group (e.g. 'cereal')</li>
      <li>matches_played (int)</li>
      <li>matches_won (int)</li>
      <li>price ($)</li>
      <li>amount (g)</li>
      <li>serving_size (g)</li>
      <li>calories</li>
      <li>fat (g)</li>
      <li>cholesterol (mg)</li>
      <li>sodium (mg)</li>
      <li>carbohydrates (g)</li>
      <li>sugar (g)</li>
      <li>protein (g)</li>
      <li>vitA (%)</li>
      <li>vitC (%)</li>
      <li>calcium (%)</li>
      <li>iron (%)</li>
      <li>fiber (g)</li>
      <li>vegan (0 or 1)</li>
      <li>organic (0 or 1)</li>
      <li>gluten-free (0 or 1)</li>
      <li>nut-free (0 or 1)</li>
      <li>lactose-free (0 or 1)</li>
      <li>target_serving_size (g)</li>
    </ul>

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>
      <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
      <p>
        {{ form.docfile.errors }}
        {{ form.docfile }}
      </p>
      <p><input type="submit" value="Upload" /></p>
    </form>
  </div>
</body>
